#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}


<section class="ui segment">
  <table class="ui fixed table">
    <thead>
    <tr>
      <th>
        <div class="ui statistics">
          <div class="statistic">
            <div class="value">
              <i class="user icon"></i>
            </div>
            <div class="label">
            ${member.name}
            </div>
          </div>
        </div>
      </th>
      <th>
        <div class="ui statistics">
          <div class="statistic">
            <div class="value">
              <i class="${member.isIdealBodyWeight()} tachometer alternate icon"></i>
            </div>
            <div class="label">
              Ideal Body Weight Indicator
            </div>
          </div>
        </div>
      </th>
      <th>
        <div class="ui statistics">
          <div class="statistic">
            <div class="value">
              <i class="heartbeat icon"></i>
            ${member.getBmi()}
            </div>
            <div class="label">
              BMI
            </div>
          </div>
        </div>
      </th>
      <th>
        <div class="ui statistics">
          <div class="statistic">
            <div class="value">
              <i class="doctor icon"></i>
            </div>
            <div class="label">
            ${member.getWeightClass()}
            </div>
          </div>
        </div>
      </th>
    </tr>
    </thead>
  </table>
</section>

#{assessments dashboard:dashboard /}

<section class="ui raised segment">
  <table class="ui fixed table">
    <thead>
    <tr>
      <th>Date</th>
      <th>Weight</th>
      <th>Chest</th>
      <th>Thigh</th>
      <th>Upper Arm</th>
      <th>Waist</th>
      <th>Hips</th>
      <th>Trend</th>
      <th>Comment</th>
    </tr>
    </thead>
    <tbody>
    #{list items:assessments, as:'assessments'}

    <tr>
      <td>
      ${ assessments.getCurrentTimeUsingCalendar()}
      </td>
      <td>
      ${assessments.weight}
      </td>
      <td>
      ${assessments.chest}
      </td>
      <td>
      ${assessments.thigh}
      </td>
      <td>
      ${assessments.upperArm}
      </td>
      <td>
      ${assessments.waist}
      </td>
      <td>
      ${assessments.hips}
      </td>
      <td>
        <a class="ui ${assessments.getTrend(assessments.weight)} tag label"></a>
      </td>
      <td></td>
      <td>
        <a href="/dashboard/${member.id}/deleteassessments/${assessments.id} " class="ui tiny red button">
          <i class="trash icon"></i>
          </i>
        </a>
      </td>
      </td>
    </tr>
    #{/list}
    </tbody>
  </table>
</section>
</section>

